#izquierda{
    float: left;
    text-align: right;
    width: 48.5%;
}

#derecha{
    float: right;
    text-align: left;
    width: 48.5%;
}

#centro{
    text-align: center;
}

header{
    text-align: center;
}